git+https://github.com/neovim/pynvim
# pynvim


markdown-it-py[plugins]
lmdb

# appdirs # Stored locally for dependency free config.py

orderedset
cryptography
base65536
bloomfilter-py

typing-extensions

firebase-admin
urllib3
pid
ntplib
requests
psutil

better_exceptions
# pydevd-pycharm~=203.5981.155

# Dev
# typeguard

