black
pycrunch-trace
yappi


markdown-it-py[plugins]
lmdb
pynvim
appdirs
orderedset
base65536
bloomfilter-py

FirebaseData
git+https://github.com/tejasvi/Pyrebase.git
ntplib
requests

line-profiler-pycharm