git+https://github.com/neovim/pynvim
# pynvim


markdown-it-py[plugins]
lmdb
appdirs
orderedset
base65536
bloomfilter-py

typing-extensions

firebase-admin
urllib3
pid
ntplib
requests

# Dev
typeguard
